{% extends "./layouts/layout.njk" %}

{% set pageTitle = "Deals.com - Stacey Fenton" %}

{% block content %}
<div class="content-wrapper">
  <article>
    <h2>Deals.com</h2>
    <p>Deals.com is the German sister site of VoucherCodes.co.uk. Both are owned by RetailMeNot Inc.</p> 
    <p>The development team at VoucherCodes.co.uk also maintained the Deals.com website so part of my job involved making improvements and adding new features to the Deals.com website.</p>      
    <h3>Technologies used</h3>
    <p>HTML5, LESS, JavaScript, jQuery, Grunt</p>

    <h3>When</h3>
    <p>2012-2014</p>

    <p><a class="button" href="http://www.deals.com" target="_blank">Visit site</a></p> 
  </article>
</div>
{% endblock %}
