{% extends "./layouts/layout.njk" %}

{% set pageTitle = "LPEQ - Stacey Fenton" %}

{% block content %}
<div class="content-wrapper">
  <article>
    <h2>LPEQ</h2>

    <p>LPEQ is a platform of listed private equity companies engaging with investors to deepen the understanding of the key investment considerations when investing in listed private equity.</p>

    <p>It had been several years since LPEQ’s website was last redesigned so they felt it was the right time for the site to be updated to be fully responsive for mobile devices and easier for them to maintain, with the possibility of adding new features in the future.</p>     
    <p>I was the lead front-end developer on this project, building both the main website as well as a reusable MailChimp email template.</p>     
    <h3>Technologies used</h3>
    <p>HTML5, SASS, JavaScript, jQuery, Grunt</p>

    <h3>When</h3>
    <p>2016</p>

    <p><a class="button" href="http://www.lpeq.com/" target="_blank">Visit site</a></p>
    </article>
</div>
{% endblock %}
