{% extends "./layouts/layout.njk" %}

{% set pageTitle = "Syngenta Annual Report 2015 - Stacey Fenton" %}

{% block content %}
<div class="content-wrapper">
  <article>
    <h2>Syngenta Annual Report 2015</h2>
    <p>Syngenta is a global agriculture business that helps farmers make better use of their available resources, primarily through agrochemical and seed production.</p>

    <p>They wanted to create an online annual report with it's own identity, separate from the printed version. It provides a high level summary of the Annual Review with the aim of making the site more engaging. They used analytics from the 2014 site to prioritise information and content.</p>      
    <p>I worked alongside another front-end developer to build the website.</p>     
    <h3>Technologies used</h3>
    <p>HTML5, SASS, JavaScript, jQuery, Grunt</p>
    
    <h3>When</h3>
    <p>2016</p>
    
    <p><a class="button__link" href="http://annualreport.syngenta.com" target="_blank">Visit site</a></p>
  </article>

  <p>
    <noscript data-class="project-img" data-src="//d1nd6ebc4fb67p.cloudfront.net/wp-content/uploads/2016/09/05211407/syngenta-home.jpg"><img src="//d1nd6ebc4fb67p.cloudfront.net/wp-content/uploads/2016/09/05211407/syngenta-home.jpg" class="project-img" alt="" /></noscript>
  </p>


  <p>
    <noscript data-class="project-img" data-src="//d1nd6ebc4fb67p.cloudfront.net/wp-content/uploads/2016/09/05211359/syngenta-overview.jpg"><img src="//d1nd6ebc4fb67p.cloudfront.net/wp-content/uploads/2016/09/05211359/syngenta-overview.jpg" class="project-img" alt="" /></noscript>
  </p>

  <p>
    <noscript data-class="project-img" data-src="//d1nd6ebc4fb67p.cloudfront.net/wp-content/uploads/2016/09/05211414/syngenta-crops.jpg"><img src="//d1nd6ebc4fb67p.cloudfront.net/wp-content/uploads/2016/09/05211414/syngenta-crops.jpg" class="project-img" alt="" /></noscript>
  </p>

  <div class="row">
    <div class="col-half">
      <noscript data-class="project-img" data-src="//d1nd6ebc4fb67p.cloudfront.net/wp-content/uploads/2016/09/05211345/syngenta-mob2.png"><img src="//d1nd6ebc4fb67p.cloudfront.net/wp-content/uploads/2016/09/05211345/syngenta-mob2.png" class="project-img" alt="" /></noscript>
    </div>
    <div class="col-half">
      <noscript data-class="project-img" data-src="//d1nd6ebc4fb67p.cloudfront.net/wp-content/uploads/2016/09/05211353/syngenta-mob1.png"><img src="//d1nd6ebc4fb67p.cloudfront.net/wp-content/uploads/2016/09/05211353/syngenta-mob1.png" class="project-img" alt="" /></noscript>
    </div>
  </div>
</div>
{% endblock %}
