@mixin wrapper {
  margin: 0 auto;
  max-width: 1200px;
  width: calc(100% - 40px);

  @media (min-width: $tablet-landscape) {
    width: calc(100% - 100px);
  }
}

@mixin reading-wrapper {
  margin: 0 auto;
  max-width: 780px;
}

@mixin list-style-none {
  list-style: none;
  margin: 0;
  padding: 0;
}