{% extends "./layouts/layout.njk" %}
{% import './macros/image.njk' as imageMacro %}

{% set pageTitle = "Vodafone Group Plc Annual Report 2015 - Stacey Fenton" %}

{% block content %}
<div class="content-wrapper">
  <article>
    <h2>Vodafone Group Plc Annual Report 2015</h2>
    <p>This one-page website was created to showcase the highlights from Vodafone's 2015 Annual Report.</p>     
    <p>I was the lead front-end developer for this project. The site won 'Best online report: FTSE 100' at the 2015 Corporate Financial Awards.</p>     
    <h3>Technologies used</h3>
    <p>HTML, SASS, JavaScript, jQuery, Grunt</p>

    <h3>When</h3>
    <p>2015</p>

    <p><a class="button__link" href="http://www.vodafone.com/content/annualreport/annualreport15/index.html" target="_blank" rel="noopener">Visit site</a></p>
  </article>

  <p>
    {{imageMacro.image("https://d1nd6ebc4fb67p.cloudfront.net/wp-content/uploads/2016/09/05211142/vodafone1.jpg", "")}}
  </p>


  <p>
    {{imageMacro.image("https://d1nd6ebc4fb67p.cloudfront.net/wp-content/uploads/2016/09/05211136/vodafone2.jpg", "")}}
  </p>

  <p>
    {{imageMacro.image("https://d1nd6ebc4fb67p.cloudfront.net/wp-content/uploads/2016/09/05211125/vodafone4.jpg", "")}}
  </p>


  <p>
    {{imageMacro.image("https://d1nd6ebc4fb67p.cloudfront.net/wp-content/uploads/2016/09/05211131/vodafone3.jpg", "")}}
  </p>

  <p>
    {{imageMacro.image("https://d1nd6ebc4fb67p.cloudfront.net/wp-content/uploads/2016/09/05211120/vodafone5.jpg", "")}}
  </p>

  <div class="row">
    <div class="col-third">
      {{imageMacro.image("https://d1nd6ebc4fb67p.cloudfront.net/wp-content/uploads/2016/09/05211114/vodafone-mob1.png", "")}}
    </div>
    <div class="col-third">
      {{imageMacro.image("https://d1nd6ebc4fb67p.cloudfront.net/wp-content/uploads/2016/09/05211110/vodafone-mob2.png", "")}}
    </div>
    <div class="col-third">
      {{imageMacro.image("https://d1nd6ebc4fb67p.cloudfront.net/wp-content/uploads/2016/09/05211105/vodafone-mob3.png", "")}}
    </div>
  </div>
</div>
{% endblock %}
