.contact-form {
	&__input {
		appearance: none;
		background: rgba($black, .06);
		border: 0;
		border-radius: 0;
		box-sizing: border-box;
		color: $black;
		display: block;
		font-family: 'Raleway', 'HelveticaNeue', 'Helvetica Neue', Helvetica, Arial, sans-serif;
		font-size: 16px; 
		font-weight: 400;
		height: 44px;
		margin: 0 0 1em;
		max-width: 100%;
		padding: 11px 10px;
		width: 400px;
	}

	label {
		display: block;
	}

	&__textarea {
		height: 150px;
	}

	&__submit {
		background: $white;
		border: 2px solid rgba($black, .12);
	  color: rgba($black, .6);
	  cursor: pointer;
	  display: inline-block;
	  font-size: 13px;
	  font-weight: 500;
	  letter-spacing: .06em;
	  max-width: 100%;
	  padding: 14px 50px;
	  text-align: center;
	  text-transform: uppercase;
	  transition: all 0.2s ease;

	  &:hover {
	  	border-color: rgba($black, .3);
	    text-decoration: none;
	  }
	}
}

.notification {
	border-radius: 3px;
	margin: 30px 0;
	padding: 16px 20px;

	&.is-success {
		border: 1px solid #23d160;
	}

	&.is-error {
		border: 1px solid #ff3860;
	}
}