{% extends "./layouts/layout.njk" %}

{% set pageTitle = "Get in touch - Stacey Fenton" %}

{% block content %}
	<div class="content-wrapper">
	  <h2>Get in touch</h2>
	  <p>Have a quick question? You can tweet me at <a href="https://twitter.com/staceyfenton" target="_blank">@staceyfenton</a>. I’m also on <a href="https://www.linkedin.com/in/staceyfenton" target="_blank">LinkedIn</a> if you’d like to connect with me there. </p>
	  <p>Alternatively, you can fill in the contact form below or send me an email directly at <a href="mailto:hello@staceyfenton.com">hello@staceyfenton.com</a>. </p>
	  <p>If you are contacting me about a job opportunity please be aware that I require sponsorship to work in the UK. </p>
	 </div>
{% endblock %}