{% extends "./layouts/layout.njk" %}
{% import './macros/image.njk' as imageMacro %}

{% set pageTitle = "Radley Yeldar - Stacey Fenton" %}

{% block content %}
<div class="content-wrapper">
  <article>
    <h2>Radley Yeldar</h2>
    <p>The RY website was in need of a refresh. The design was last updated in 2011, it wasn’t responsive and was running on an old version of Umbraco which content editors found to be restrictive, making it difficult to add new content. </p>

    <p>This project would see a complete overhaul of the design with a content first approach and a brand new CMS (Umbraco 7). </p>     
    <p>I was the lead developer for the first phase of the project which launched in 2015. A second phase is planned for 2016 which will see further design updates to the site. </p>     
    <h3>Technologies used</h3>
    <p>HTML, SASS, JavaScript, jQuery, Grunt</p>

    <h3>When</h3>
    <p>2014-2015</p>

    <p><a class="button__link" href="http://ry.com" target="_blank" rel="noopener">Visit site</a></p>
  </article>

  <p>
    {{imageMacro.image("https://d1nd6ebc4fb67p.cloudfront.net/wp-content/uploads/2016/09/05211204/ry-home.jpg", "")}}
  </p>


  <p>
    {{imageMacro.image("https://d1nd6ebc4fb67p.cloudfront.net/wp-content/uploads/2016/09/05211217/ry-case-study.jpg", "")}}
  </p>

  <p>
    {{imageMacro.image("https://d1nd6ebc4fb67p.cloudfront.net/wp-content/uploads/2016/09/05211159/ry-thinking.jpg", "")}}
  </p>


  <p>
    {{imageMacro.image("https://d1nd6ebc4fb67p.cloudfront.net/wp-content/uploads/2016/09/05211210/ry-event.jpg", "")}}
  </p>

  <div class="row">
    <div class="col-half">
      {{imageMacro.image("https://d1nd6ebc4fb67p.cloudfront.net/wp-content/uploads/2016/09/05211152/ry-news.png", "")}}
    </div>
    <div class="col-half">
      {{imageMacro.image("https://d1nd6ebc4fb67p.cloudfront.net/wp-content/uploads/2016/09/05211147/ry-culture.png", "")}}
    </div>
  </div>
</div>
{% endblock %}
