{% extends "./layouts/layout.njk" %}

{% set pageTitle = "About me - Stacey Fenton" %}
{% set pageDesc = "I’ve been working as a front-end web developer for over 11 years across a variety of organisations. Specialising in HTML, CSS and JavaScript." %}
{% set canonical = "http://staceyfenton.com/" %}

{% block content %}
  <div class="content-wrapper">
    <article>
      <h2>About me</h2>
      <p>I have 15 years experience working as a web developer, specialising in building modern, responsive and accessible user interfaces. I've worked across a variety of organisations, from small digital agencies and startups all the way to large corporate enterprises. I’m currently working at <a href="https://www.comparethemarket.com" rel="noopener" target="_blank">comparethemarket.com</a>, one of the UK's biggest price comparison websites.</p>

      <p>I’ve had the opportunity to be involved in the development of many interesting websites over the course of my career, including ING Direct, <a href="/work/optus/">Optus</a>, <a href="/work/vodafone-group-plc-annual-report-2015/">Vodafone</a>, <a href="/work/coca-cola-hellenic-bottling-company/">Coca-Cola Hellenic</a> and <a href="/work/gsk/">GSK</a>. The <a href="/work/">work section</a> of this website showcases a selection of projects I have been involved with over the last few years.</p>

      <h3>Skills</h3>
      <ul>
        <li>HTML5</li>
        <li>CSS3 including pre-processors Sass/Less</li>
        <li>JavaScript</li>
        <li>Accessibility</li>
        <li>Build tools including Webpack, Gulp and Grunt</li>
        <li>Version control including Git, Mercurial, SVN</li>
        <li>CI/CD using TeamCity and Travis</li>
        <li>Node.js with Express</li>
        <li>React.js</li>
      </ul>
    </article>

    <h2>Recent projects</h2>
    <ul class="project-list">
      {% for project in projects %}
        {% if loop.index < 4 %}
          {% import './macros/project.njk' as projectMacro %}
          {{projectMacro.project(project.name, project.url, project.image)}}
        {% endif %}
      {% endfor %}
    </ul>
  </div>
{% endblock %}