{% extends "./layouts/layout.njk" %}

{% set pageTitle = "About me - Stacey Fenton" %}
{% set pageDesc = "I’ve been working as a front-end web developer for over 11 years across a variety of organisations. Specialising in HTML, CSS and JavaScript." %}
{% set canonical = "http://staceyfenton.com/" %}

{% block content %}
  <div class="content-wrapper">
    <article>
      <h2>About me</h2>
      <p>I’ve been working as a front-end web developer for 11 years across a variety of organisations, ranging from small digital agencies and startups all the way to large corporate enterprises. Currently I’m working at <a href="http://ry.com" target="_blank">Radley Yeldar</a>, a creative consultancy based in London.</p>

      <p>I’ve had the opportunity to be involved in the development of many interesting websites over the course of my career, including ING Direct, <a href="/work/optus/">Optus</a>, <a href="/work/vodafone-group-plc-annual-report-2015/">Vodafone</a>, <a href="/work/coca-cola-hellenic-bottling-company/">Coca-Cola Hellenic</a> and <a href="/work/gsk/">GSK</a>. The <a href="/work/">work section</a> of this website showcases a selection of projects I have been involved with over the last few years.</p>

      <h3>Skills</h3>
      <ul>
    		<li>HTML5</li>
    		<li>CSS3</li>
    		<li>Sass/Less</li>
    		<li>Gulp/Grunt</li>
    		<li>Git/Mercurial/SVN</li>
    		<li>JavaScript</li>
    		<li>jQuery</li>
      </ul>

      <h3>Tools</h3>
      <ul>
      	<li>Adobe Photoshop</li>
      	<li>Sketch</li>
      </ul>

      <h3>Learning</h3>
      <ul>
      	<li>React</li>
      	<li>Vue.js</li>
      </ul>
    </article>

    <h2>Recent projects</h2>
    <ul class="project-list">
      {% for project in projects %}
        {% if loop.index < 4 %}
          {% import './macros/project.njk' as projectMacro %}
          {{projectMacro.project(project.name, project.url, project.image)}}
        {% endif %}
      {% endfor %}
    </ul>
  </div>
{% endblock %}