{% extends "./layouts/layout.njk" %}
{% import './macros/image.njk' as imageMacro %}

{% set pageTitle = "KBC Bank - Stacey Fenton" %}

{% block content %}
<div class="content-wrapper">
  <article>
    <h2>KBC Bank</h2>
    <p>KBC is one of the major Belgian banks, focusing on private clients and small to medium sized enterprises.</p>

    <p>They wanted to improve the design and user experience of their website in order to better engage with their key audiences, as well as optimise the site for mobile.</p>      
    <p>Myself and another developer were responsible for building static front-end templates. Once this was completed we handed over the files to the back-end developers at KBC Bank who integrated them into a Drupal CMS.</p>      
    <h3>Technologies used</h3>
    <p>HTML5, SASS, JavaScript, jQuery, Grunt</p>

    <h3>When</h3>
    <p>2015</p>

    <p><a class="button__link" href="https://www.kbc.com/en" target="_blank" rel="noopener">Visit site</a></p>
  </article>

  <p>
    {{imageMacro.image("https://d1nd6ebc4fb67p.cloudfront.net/wp-content/uploads/2016/09/05211516/kbc-home.jpg", "")}}
  </p>


  <p>
    {{imageMacro.image("https://d1nd6ebc4fb67p.cloudfront.net/wp-content/uploads/2016/09/05211509/kbc-who-we-are.jpg", "")}}
  </p>

  <div class="row">
    <div class="col-half">
      {{imageMacro.image("https://d1nd6ebc4fb67p.cloudfront.net/wp-content/uploads/2016/09/05211502/kbc-careers1.png", "")}}
    </div>
    <div class="col-half">
      {{imageMacro.image("https://d1nd6ebc4fb67p.cloudfront.net/wp-content/uploads/2016/09/05211455/kbc-careers2.png", "")}}
    </div>
  </div>
</div>
{% endblock %}