{% extends "./layouts/layout.njk" %}

{% set pageTitle = "KPMG Consumer Insights Panel - Stacey Fenton" %}

{% block content %}
<div class="content-wrapper">
  <article>
    <h2>KPMG Consumer Insights Panel</h2>
    <p>The The KPMG/YouGov Consumer Insights Panel is a forum of thought leaders with extensive fast-moving consumer goods (FMCG) experience. They come together to discuss, debate and challenge ideas and customer insights.</p>

    <p>This one-page site profiles the people who make up the panel and makes publications and research available for download. </p>      
    <p>I was tasked with re-skinning the website in 2014, updating the CSS, images and some content to give the site a fresh new look. </p>     
    <h3>Technologies used</h3>
    <p>HTML5, SASS</p>
    
    <h3>When</h3>
    <p>2014</p>
    
    <p><a class="button" href="http://consumerinsightspanel.org" target="_blank">Visit site</a></p>
  </article>

  <p>
    <noscript data-class="project-img" data-src="//d1nd6ebc4fb67p.cloudfront.net/wp-content/uploads/2016/09/05210919/kpmg-desktop.jpg"><img src="//d1nd6ebc4fb67p.cloudfront.net/wp-content/uploads/2016/09/05210919/kpmg-desktop.jpg" class="project-img" alt="" /></noscript>
  </p>

  <div class="row">
    <div class="col-half">
      <noscript data-class="project-img" data-src="//d1nd6ebc4fb67p.cloudfront.net/wp-content/uploads/2016/09/05210914/kpmg-mob1.png"><img src="//d1nd6ebc4fb67p.cloudfront.net/wp-content/uploads/2016/09/05210914/kpmg-mob1.png" class="project-img" alt="" /></noscript>
    </div>
    <div class="col-half">
      <noscript data-class="project-img" data-src="//d1nd6ebc4fb67p.cloudfront.net/wp-content/uploads/2016/09/05210910/kpmg-mob2.png"><img src="//d1nd6ebc4fb67p.cloudfront.net/wp-content/uploads/2016/09/05210910/kpmg-mob2.png" class="project-img" alt="" /></noscript>
    </div>
  </div>
</div>
{% endblock %}