{% extends "./layouts/layout.njk" %}

{% set pageTitle = "Severn Trent Annual Review 2015 - Stacey Fenton" %}

{% block content %}
<div class="content-wrapper">
  <article>
    <h2>Severn Trent Annual Review 2015</h2>

    <p>Severn Trent plc is a UK water company that is traded on the London Stock Exchange and is a constituent of the FTSE 100 Index.</p>

    <p>In 2015 we created an Online Annual Report for Severn Trent to accompany the printed Annual Report. It was a single page site providing a high level summary of the Annual Report and consistent in look and feel with the printed version.</p>      
    <p>I was the lead front-end developer on this project.</p>      
    <h3>Technologies used</h3>
    <p>HTML, SASS, JavaScript, jQuery, Grunt</p>

    <h3>When</h3>
    <p>2015</p>

    <p><a class="button" href="https://ar2015.severntrent.com/" target="_blank">Visit site</a></p>
  </article>

  <p>
    <noscript data-class="project-img" data-src="//d1nd6ebc4fb67p.cloudfront.net/wp-content/uploads/2016/09/05211247/st1.jpg"><img src="//d1nd6ebc4fb67p.cloudfront.net/wp-content/uploads/2016/09/05211247/st1.jpg" class="project-img" alt="" /></noscript>
  </p>


  <p>
    <noscript data-class="project-img" data-src="//d1nd6ebc4fb67p.cloudfront.net/wp-content/uploads/2016/09/05211241/st2.jpg"><img src="//d1nd6ebc4fb67p.cloudfront.net/wp-content/uploads/2016/09/05211241/st2.jpg" class="project-img" alt="" /></noscript>
  </p>

  <div class="row">
    <div class="col-third">
      <noscript data-class="project-img" data-src="//d1nd6ebc4fb67p.cloudfront.net/wp-content/uploads/2016/09/05211234/st-mob1.png"><img src="//d1nd6ebc4fb67p.cloudfront.net/wp-content/uploads/2016/09/05211234/st-mob1.png" class="project-img" alt="" /></noscript>
    </div>
    <div class="col-third">
      <noscript data-class="project-img" data-src="//d1nd6ebc4fb67p.cloudfront.net/wp-content/uploads/2016/09/05211231/st-mob2.png"><img src="//d1nd6ebc4fb67p.cloudfront.net/wp-content/uploads/2016/09/05211231/st-mob2.png" class="project-img" alt="" /></noscript>
    </div>
    <div class="col-third">
      <noscript data-class="project-img" data-src="//d1nd6ebc4fb67p.cloudfront.net/wp-content/uploads/2016/09/05211222/st-mob3.png"><img src="//d1nd6ebc4fb67p.cloudfront.net/wp-content/uploads/2016/09/05211222/st-mob3.png" class="project-img" alt="" /></noscript>
    </div>
  </div>
</div>
{% endblock %}