{% extends "./layouts/layout.njk" %}

{% set pageTitle = "GSK Annual Report 2016 - Stacey Fenton" %}

{% block content %}
<div class="content-wrapper">
  <article>
    <h2>GSK Annual Report 2016</h2>
    <p>The GSK Annual Report gives a brief overview of how GSK is performing, including a financial summary, and Responsible Business Supplement.</p>

    <p>I was the lead front-end developer on this single-page site.</p>     

    <h3>Technologies used</h3>
    <p>HTML5, SASS, JavaScript (ES6), jQuery, Grunt</p>

    <h3>When</h3>
    <p>2017</p>

    <p><a class="button" href="http://annualreport.gsk.com/" target="_blank">Visit site</a></p>
  </article>

  <p>
    <noscript data-class="project-img" data-src="//d1nd6ebc4fb67p.cloudfront.net/wp-content/uploads/2017/05/17221107/gsk-oar-1.jpg"><img src="//d1nd6ebc4fb67p.cloudfront.net/wp-content/uploads/2017/05/17221107/gsk-oar-1.jpg" class="project-img" alt="" /></noscript>
  </p>


  <p>
    <noscript data-class="project-img" data-src="//d1nd6ebc4fb67p.cloudfront.net/wp-content/uploads/2017/05/17221110/gsk-oar-2.jpg"><img src="//d1nd6ebc4fb67p.cloudfront.net/wp-content/uploads/2017/05/17221110/gsk-oar-2.jpg" class="project-img" alt="" /></noscript>
  </p>

  <div class="row">
    <div class="col-half">
      <noscript data-class="project-img" data-src="//d1nd6ebc4fb67p.cloudfront.net/wp-content/uploads/2017/05/17221437/IMG_1870.png"><img src="//d1nd6ebc4fb67p.cloudfront.net/wp-content/uploads/2017/05/17221437/IMG_1870.png" class="project-img" alt="" /></noscript>
    </div>
    <div class="col-half">
      <noscript data-class="project-img" data-src="//d1nd6ebc4fb67p.cloudfront.net/wp-content/uploads/2017/05/17221433/IMG_1871.png"><img src="//d1nd6ebc4fb67p.cloudfront.net/wp-content/uploads/2017/05/17221433/IMG_1871.png" class="project-img" alt="" /></noscript>
    </div>
  </div>
</div>
{% endblock %}
