{% extends "./layouts/layout.njk" %}

{% set pageTitle = "GSK Annual Report 2016 - Stacey Fenton" %}

{% block content %}
<div class="content-wrapper">
  <article>
    <h2>GSK Annual Report 2016</h2>
    <p>The GSK Annual Report gives a brief overview of how GSK is performing, including a financial summary, and Responsible Business Supplement.</p>

    <p>I was the lead front-end developer on this single-page site.</p>     

    <h3>Technologies used</h3>
    <p>HTML5, SASS, JavaScript (ES6), jQuery, Grunt</p>

    <h3>When</h3>
    <p>2017</p>

    <p><a class="button" href="http://annualreport.gsk.com/" target="_blank">Visit site</a></p>
  </article>
</div>
{% endblock %}
