{% extends "./layouts/layout.njk" %}

{% set pageTitle = "My work - Stacey Fenton" %}
{% set pageDesc = "This is a list of projects I've been involved with over the last few years, working as a front-end web developer." %}
{% set canonical = "http://staceyfenton.com/my-work/" %}
{% set bodyClass = "work" %}

{% block content %}
	<div class="content-wrapper">
	  <h2>My work</h2>

	  <ul class="project-list">
	    {% for project in projects %}
	      {% import './macros/project.njk' as projectMacro %}
	      {{projectMacro.project(project.name, project.url, project.image)}}
	    {% endfor %}
	  </ul>
	</div>
{% endblock %} 