{% macro project(name, url, image) %}
  <li class="project-list__item">
  	<a href="{{ url }}" class="project-list__link">
      <img src="{{ image }}" alt="{{ name }}" class="project-list__img">
      <span class="project-list__name">{{ name }}</span>
    </a>
  </li>
{% endmacro %}