{% macro project(name, url, image, webp) %}
  <li class="project-list__item">
  	<a href="{{ url }}" class="project-list__link">
      <picture class="js-lazy-load">
        {% if webp %}<source data-srcset="{{ webp }}" type="image/webp">{% endif %}
        <source data-srcset="{{ image }}" type="image/jpeg"> 
        <img data-src="{{ image }}" alt="{{ name }}" class="project-list__img">
      </picture>
      <noscript><img src="{{ image }}" alt="{{ name }}" class="project-list__img"></noscript>
      <span class="project-list__name">{{ name }}</span>
    </a>
  </li>
{% endmacro %}