{% macro project(name, url, image, webp) %}
  <li class="project-list__item">
  	<a href="{{ url }}" class="project-list__link">
      <noscript data-class="project-list__img" data-src="{{ image }}" data-webp="{{ webp }}" data-alt="{{ name }}""><img src="{{ image }}" alt="{{ name }}" class="project-list__img"></noscript>
      <span class="project-list__name">{{ name }}</span>
    </a>
  </li>
{% endmacro %}