{% extends "./layouts/layout.njk" %}

{% set pageTitle = "Turner & Townsend - Stacey Fenton" %}

{% block content %}
<div class="content-wrapper">
  <article>
    <h2>Turner &amp; Townsend</h2>
    <p>Turner &amp; Townsend is a construction and project management consultancy serving clients across the property, infrastructure and natural resources sectors.</p>

    <p>Their website was launched in 2008 and since then some areas of the site had become outdated, and the user journey had become more confusing over time as new content was added. Turner and Townsend were also seeing an increase in traffic from mobile devices, and with this they were also seeing a rise in bounce rate from the site as it was not optimised for mobile.</p>

    <p>Their objectives in re-developing the site were to migrate to a more user-friendly CMS, ensure the website would be accessible to all devices and regions, simplify the user journey and give users a clear idea of what they do as a business.</p>      
    <p>I was the lead front-end developer for this project. We started out building a prototype with a few static HTML templates to present to the client, and eventually migrating the HTML to the Umbraco CMS.</p>      
    <h3>Technologies used</h3>
    <p>HTML5, SASS, JavaScript, jQuery, Grunt</p>
    
    <h3>When</h3>
    <p>2016</p>
    
    <p><a class="button__link" href="http://www.turnerandtownsend.com" target="_blank">Visit site</a></p>
  </article>

  <p>
    <noscript data-class="project-img" data-src="//d1nd6ebc4fb67p.cloudfront.net/wp-content/uploads/2016/09/05211442/tt-home.jpg"><img src="//d1nd6ebc4fb67p.cloudfront.net/wp-content/uploads/2016/09/05211442/tt-home.jpg" class="project-img" alt="" /></noscript>
  </p>


  <p>
    <noscript data-class="project-img" data-src="//d1nd6ebc4fb67p.cloudfront.net/wp-content/uploads/2016/09/05211436/tt-projects.jpg"><img src="//d1nd6ebc4fb67p.cloudfront.net/wp-content/uploads/2016/09/05211436/tt-projects.jpg" class="project-img" alt="" /></noscript>
  </p>

  <p>
    <noscript data-class="project-img" data-src="//d1nd6ebc4fb67p.cloudfront.net/wp-content/uploads/2016/09/05211450/tt-about.jpg"><img src="//d1nd6ebc4fb67p.cloudfront.net/wp-content/uploads/2016/09/05211450/tt-about.jpg" class="project-img" alt="" /></noscript>
  </p>

  <div class="row">
    <div class="col-half">
      <noscript data-class="project-img" data-src="//d1nd6ebc4fb67p.cloudfront.net/wp-content/uploads/2016/09/05211421/tt-insights.png"><img src="//d1nd6ebc4fb67p.cloudfront.net/wp-content/uploads/2016/09/05211421/tt-insights.png" class="project-img" alt="" /></noscript>
    </div>
    <div class="col-half">
      <noscript data-class="project-img" data-src="//d1nd6ebc4fb67p.cloudfront.net/wp-content/uploads/2016/09/05211426/tt-careers.png"><img src="//d1nd6ebc4fb67p.cloudfront.net/wp-content/uploads/2016/09/05211426/tt-careers.png" class="project-img" alt="" /></noscript>
    </div>
  </div>
</div>
{% endblock %}
