{% extends "./layouts/layout.njk" %}

{% set pageTitle = "VoucherCodes.co.uk - Stacey Fenton" %}

{% block content %}
<div class="content-wrapper">
  <article>
    <h2>VoucherCodes.co.uk</h2>
    <p>I worked for VoucherCodes.co.uk for almost two years. They are one of the most popular voucher codes websites in the UK, offering discount codes, restaurant vouchers, sales and deals for  hundreds of popular stores.</p>      
    <p>During my time at VoucherCodes I played a role in shipping a fully responsive site, implemented the Grunt task runner, introduced JavaScript unit testing and worked with designers and other developers to enhance usability, improve performance, and add new features.</p>      
    <h3>Technologies used</h3>
    <p>HTML5, LESS, JavaScript, jQuery, Grunt, unit testing</p>

    <h3>When</h3>
    <p>2012-2014</p>

    <p><a class="button__link" href="http://www.vouchercodes.co.uk" target="_blank" rel="noopener">Visit site</a></p>
  </article>

  
  <p>
    <noscript data-class="project-img" data-src="//d1nd6ebc4fb67p.cloudfront.net/wp-content/uploads/2016/09/05210858/vc-home.jpg"><img src="//d1nd6ebc4fb67p.cloudfront.net/wp-content/uploads/2016/09/05210858/vc-home.jpg" class="project-img" alt="" /></noscript>
  </p>


  <p>
    <noscript data-class="project-img" data-src="//d1nd6ebc4fb67p.cloudfront.net/wp-content/uploads/2016/09/05210904/vc-codes.jpg"><img src="//d1nd6ebc4fb67p.cloudfront.net/wp-content/uploads/2016/09/05210904/vc-codes.jpg" class="project-img" alt="" /></noscript>
  </p>
</div>
{% endblock %}
