{% extends "./layouts/layout.njk" %}

{% set pageTitle = "Coca-Cola Hellenic Bottling Company - Stacey Fenton" %}

{% block content %}
<div class="content-wrapper">
  <article>
    <h2>Coca-Cola Hellenic Bottling Company</h2>
    <p>Coca-Cola HBC are one of the world’s largest bottlers for The Coca-Cola Company. They wanted to unite the global website as well as 21 local country sites with a consistent look and feel, make content more user friendly and easier to find, and optimise the site for mobile.</p>

    <p>As of April 2016 the global site has been launched with plans to roll out the new design to all markets by 2017.</p>     
    <!-- <h3>Involvement</h3> -->
    <p>I was responsible for the front-end build, working closely with the design and UX teams, as well as helping to integrate the HTML into an Umbraco CMS. </p>
    <p>The website won Gold for "Best use of digital in the food &amp; beverage sector" at the 2016 Digital Impact Awards.</p>      
    <h3>Technologies used</h3>
    <p>HTML5, SASS, JavaScript, jQuery, Grunt</p>

    <h3>When</h3>
    <p>2015-2016</p>

    <p><a class="button__link" href="http://coca-colahellenic.com/" target="_blank" rel="noopener">Visit site</a></p>
  </article>

  <p>
    <noscript data-class="project-img" data-src="//d1nd6ebc4fb67p.cloudfront.net/wp-content/uploads/2016/09/05211333/cchbc-home.jpg"><img src="//d1nd6ebc4fb67p.cloudfront.net/wp-content/uploads/2016/09/05211333/cchbc-home.jpg" class="project-img" alt="" /></noscript>
  </p>


  <p>
    <noscript data-class="project-img" data-src="//d1nd6ebc4fb67p.cloudfront.net/wp-content/uploads/2016/09/05211318/cchbc-vision.jpg"><img src="//d1nd6ebc4fb67p.cloudfront.net/wp-content/uploads/2016/09/05211318/cchbc-vision.jpg" class="project-img" alt="" /></noscript>
  </p>

  <p>
    <noscript data-class="project-img" data-src="//d1nd6ebc4fb67p.cloudfront.net/wp-content/uploads/2016/09/05211342/cchbc-content.jpg"><img src="//d1nd6ebc4fb67p.cloudfront.net/wp-content/uploads/2016/09/05211342/cchbc-content.jpg" class="project-img" alt="" /></noscript>
  </p>

  <p>
    <noscript data-class="project-img" data-src="//d1nd6ebc4fb67p.cloudfront.net/wp-content/uploads/2016/09/05211326/cchbc-stories.jpg"><img src="//d1nd6ebc4fb67p.cloudfront.net/wp-content/uploads/2016/09/05211326/cchbc-stories.jpg" class="project-img" alt="" /></noscript>
  </p>

  <div class="row">
    <div class="col-half">
      <noscript data-class="project-img" data-src="//d1nd6ebc4fb67p.cloudfront.net/wp-content/uploads/2016/09/05211310/cchbc-mob-home.png"><img src="//d1nd6ebc4fb67p.cloudfront.net/wp-content/uploads/2016/09/05211310/cchbc-mob-home.png" class="project-img" alt="" /></noscript>
    </div>
    <div class="col-half">
      <noscript data-class="project-img" data-src="//d1nd6ebc4fb67p.cloudfront.net/wp-content/uploads/2016/09/05211306/cchbc-mob-nav.png"><img src="//d1nd6ebc4fb67p.cloudfront.net/wp-content/uploads/2016/09/05211306/cchbc-mob-nav.png" class="project-img" alt="" /></noscript>
    </div>
  </div>
</div>
{% endblock %}