{% extends "./layouts/layout.njk" %}

{% block content %}
  <h1>This is the index page</h1>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non impedit atque accusamus quae mollitia iste, sunt recusandae ut deleniti! Facere laboriosam delectus pariatur dicta commodi harum voluptate eligendi odit, reprehenderit.</p>
{% endblock %}