{% extends "layouts/layout.njk" %}

{% set pageTitle = "Stacey Fenton | London-based Front End Developer" %}
{% set pageDesc = "I'm a front-end developer with over 11 years experience, based in London, United Kingdom. I specialise in semantic and accessible HTML, CSS, and JavaScript." %}
{% set bodyClass = "home" %}
{% set canonical = "http://staceyfenton.com/" %}

{% block content %}
  <div class="hero">
    <div class="hero__content">
      <h2 class="hero__title">Hi, I'm Stacey</h2>
      <p>I'm a front‑end developer originally from Sydney, Australia,<br>now based in London, UK.</p>
      <p><a href="/about-me" class="button__link">More about me</a></p>
    </div>
  </div>

  <div class="content-wrapper">

    <h2>Recent work</h2>

    <ul class="project-list">
      {% for project in projects %}
        {% if project.featured %}
          {% import './macros/project.njk' as projectMacro %}
          {{projectMacro.project(project.name, project.url, project.image)}}
        {% endif %}
      {% endfor %}
    </ul>

    <div class="button">
      <a href="/work" class="button__link">See more</a>
    </div>
  </div>
{% endblock %}