{% extends "./layouts/layout.njk" %}
{% import './macros/image.njk' as imageMacro %}

{% set pageTitle = "Mace - Stacey Fenton" %}

{% block content %}
<div class="content-wrapper">
  <article>
    <h2>Mace</h2>
    <p>Mace is a global consultancy and construction firm headquartered in London. The Shard and the London Eye are just two of the major projects Mace have been involved with.</p>
    <p>There was a lack of clarity around Mace's position and what it stood for, which led to a repositioning of their brand and this was executed through the new website. The content was re-written to give more of a focus to the people behind Mace and was designed to look less like a "typical corporate website".</p>      
    <p>I was the lead front-end developer on this project. It was my first time building a website on a Sitecore CMS platform.</p> 
    <p>Since the launch of the new website, Mace have seen a 20% increase in unique visits, 25% increase in average time people are spending on the site, and 47% increase in return visitors. They have also seen a significant improvement in recruitment, with a 78% increase in careers page views.</p> 
    <p>This website was nominated for two of The Drum's B2B Brave Awards 2017 - Best Enterprise Website and Best Content-Driven Digital Experience.</p>    
    <h3>Technologies used</h3>
    <p>HTML5, SASS, JavaScript, jQuery, Grunt</p>
    
    <h3>When</h3>
    <p>2016</p>
    
    <p><a class="button__link" href="https://www.macegroup.com/" target="_blank" rel="noopener">Visit site</a></p>
  </article>

  <p>
    {{imageMacro.image("https://d1nd6ebc4fb67p.cloudfront.net/wp-content/uploads/2016/11/04165957/mace-home.jpg", "")}}
  </p>


  <p>
    {{imageMacro.image("https://d1nd6ebc4fb67p.cloudfront.net/wp-content/uploads/2016/11/04170000/mace-people.jpg", "")}}
  </p>

  <p>
    {{imageMacro.image("https://d1nd6ebc4fb67p.cloudfront.net/wp-content/uploads/2016/11/04170540/mace-projects1.jpg", "")}}
  </p>

  <div class="row">
    <div class="col-half">
      {{imageMacro.image("https://d1nd6ebc4fb67p.cloudfront.net/wp-content/uploads/2016/11/04171615/mace-home-mobile.jpg", "")}}
    </div>
    <div class="col-half">
      {{imageMacro.image("https://d1nd6ebc4fb67p.cloudfront.net/wp-content/uploads/2016/11/04182403/mace-development.jpg", "")}}
    </div>
  </div>
</div>
{% endblock %}
