{% extends "./layouts/layout.njk" %}
{% import './macros/image.njk' as imageMacro %}

{% set pageTitle = "Most Wanted - Stacey Fenton" %}

{% block content %}
<div class="content-wrapper">
  <article>
    <h2>Most Wanted</h2>
    
    
    <p>Most Wanted is the online lifestyle magazine of VoucherCodes.co.uk, sharing smart shopping tips and consumer lifestyle news every day.</p>     
    <p>During my time working at VoucherCodes.co.uk I would help maintain the Most Wanted website, making improvements and adding new features as required.</p>     
    <h3>Technologies used</h3>
    <p>HTML5, LESS, JavaScript, jQuery, Grunt</p>
    
    <h3>When</h3>
    <p>2012-2014</p>
    
    <p><a class="button__link" href="https://www.vouchercodes.co.uk/most-wanted/" target="_blank" rel="noopener">Visit site</a></p>
  </article>

  <p>
    {{imageMacro.image("https://d1nd6ebc4fb67p.cloudfront.net/wp-content/uploads/2016/09/05210850/mw-home.jpg", "")}}
    <noscript data-class="project-img" data-src="//d1nd6ebc4fb67p.cloudfront.net/wp-content/uploads/2016/09/05210850/mw-home.jpg"><img src="//d1nd6ebc4fb67p.cloudfront.net/wp-content/uploads/2016/09/05210850/mw-home.jpg" class="project-img" alt="" /></noscript>
  </p>


  <p>
    {{imageMacro.image("https://d1nd6ebc4fb67p.cloudfront.net/wp-content/uploads/2016/09/05210841/mw-post.jpg", "")}}
    <noscript data-class="project-img" data-src="//d1nd6ebc4fb67p.cloudfront.net/wp-content/uploads/2016/09/05210841/mw-post.jpg"><img src="//d1nd6ebc4fb67p.cloudfront.net/wp-content/uploads/2016/09/05210841/mw-post.jpg" class="project-img" alt="" /></noscript>
  </p>
</div>
{% endblock %}
