{% extends "./layouts/layout.njk" %}

{% set pageTitle = "Thomas Cook Online Annual Report 2014 - Stacey Fenton" %}

{% block content %}
<div class="content-wrapper">
  <article>
    <h2>Thomas Cook Online Annual Report 2014</h2>
    
    <p>This one-page website was created to showcase the highlights from Thomas Cook’s 2014 Annual Report.
    </p>      
    <p>I was the sole front-end developer on this project, working on it from start to finish. This site was the winner of Best Online Report: FTSE 250 in the 2015 Corporate Financial Awards.</p>     
    <h3>Technologies used</h3>
    <p>HTML5, SASS, JavaScript, jQuery, Grunt</p>
    
    <h3>When</h3>
    <p>2014-2015</p>
    
    <p><a class="button" href="http://annualreport2014.thomascookgroup.com" target="_blank">Visit site</a></p>
  </article>
</div>
{% endblock %}
