{% extends "./layouts/layout.njk" %}
{% import './macros/image.njk' as imageMacro %}

{% set pageTitle = "Thomas Cook Online Annual Report 2014 - Stacey Fenton" %}

{% block content %}
<div class="content-wrapper">
  <article>
    <h2>Thomas Cook Online Annual Report 2014</h2>
    
    <p>This one-page website was created to showcase the highlights from Thomas Cook’s 2014 Annual Report.
    </p>      
    <p>I was the sole front-end developer on this project, working on it from start to finish. This site was the winner of Best Online Report: FTSE 250 in the 2015 Corporate Financial Awards.</p>     
    <h3>Technologies used</h3>
    <p>HTML5, SASS, JavaScript, jQuery, Grunt</p>
    
    <h3>When</h3>
    <p>2014-2015</p>
    
    <p><a class="button__link" href="http://annualreport2014.thomascookgroup.com" target="_blank" rel="noopener">Visit site</a></p>
  </article>

  <p>
    {{imageMacro.image("https://d1nd6ebc4fb67p.cloudfront.net/wp-content/uploads/2016/09/05210931/tc-overview.jpg", "")}}
  </p>


  <p>
    {{imageMacro.image("https://d1nd6ebc4fb67p.cloudfront.net/wp-content/uploads/2016/09/05210926/tc-who-we-are.jpg", "")}}
  </p>

  <p>
    {{imageMacro.image("https://d1nd6ebc4fb67p.cloudfront.net/wp-content/uploads/2016/09/05210943/tc-financial.jpg", "")}}
  </p>

  <div class="row">
    <div class="col-half">
      {{imageMacro.image("https://d1nd6ebc4fb67p.cloudfront.net/wp-content/uploads/2016/09/05210935/tc-overview-mob.png", "")}}
    </div>
    <div class="col-half">
      {{imageMacro.image("https://d1nd6ebc4fb67p.cloudfront.net/wp-content/uploads/2016/09/05210947/tc-financial-mob.png", "")}}
    </div>
  </div>
</div>
{% endblock %}
