{% extends "./layouts/layout.njk" %}

{% set pageTitle = "British American Tobacco Annual Review 2014 - Stacey Fenton" %}

{% block content %}
<div class="content-wrapper">
  <article>
    <h2>British American Tobacco Annual Review 2014</h2>
    <p>British American Tobacco (BAT) is one of the world’s five largest tobacco companies. </p>

    <p>This website was created to showcase the highlights from BAT's 2014 Annual Report.</p>     
    <p>I was the lead front-end developer on this project.</p>      
    <h3>Technologies used</h3>
    <p>HTML5, SASS, JavaScript, jQuery, Grunt</p>

    <h3>When</h3>
    <p>2015</p>

    <p><a class="button__link" href="http://www.bat.com/ar/2014/index.html" target="_blank">Visit site</a></p>
  </article>

  <p>
    <noscript data-class="project-img" data-src="//d1nd6ebc4fb67p.cloudfront.net/wp-content/uploads/2016/09/05211017/bat-home.jpg"><img src="//d1nd6ebc4fb67p.cloudfront.net/wp-content/uploads/2016/09/05211017/bat-home.jpg" class="project-img" alt="" /></noscript>
  </p>


  <p>
    <noscript data-class="project-img" data-src="//d1nd6ebc4fb67p.cloudfront.net/wp-content/uploads/2016/09/05210953/bat-value.jpg"><img src="//d1nd6ebc4fb67p.cloudfront.net/wp-content/uploads/2016/09/05210953/bat-value.jpg" class="project-img" alt="" /></noscript>
  </p>

  <p>
    <noscript data-class="project-img" data-src="//d1nd6ebc4fb67p.cloudfront.net/wp-content/uploads/2016/09/05211011/bat-performance.jpg"><img src="//d1nd6ebc4fb67p.cloudfront.net/wp-content/uploads/2016/09/05211011/bat-performance.jpg" class="project-img" alt="" /></noscript>
  </p>

  <div class="row">
    <div class="col-half">
      <noscript data-class="project-img" data-src="//d1nd6ebc4fb67p.cloudfront.net/wp-content/uploads/2016/09/05210958/bat-value-mob.png"><img src="//d1nd6ebc4fb67p.cloudfront.net/wp-content/uploads/2016/09/05210958/bat-value-mob.png" class="project-img" alt="" /></noscript>
    </div>
    <div class="col-half">
      <noscript data-class="project-img" data-src="//d1nd6ebc4fb67p.cloudfront.net/wp-content/uploads/2016/09/05211003/bat-standards.png"><img src="//d1nd6ebc4fb67p.cloudfront.net/wp-content/uploads/2016/09/05211003/bat-standards.png" class="project-img" alt="" /></noscript>
    </div>
  </div>
</div>
{% endblock %}