{% extends "./layouts/layout.njk" %}

{% set pageTitle = "Coca-Cola HBC Integrated Annual Report 2016 - Stacey Fenton" %}

{% block content %}
<div class="content-wrapper">
  <article>
    <h2>Coca-Cola HBC Integrated Annual Report 2016</h2>
    <p>Coca-Cola Hellenic Bottling Company are one of the world’s largest bottlers for The Coca-Cola Company. For this project we created a new template to showcase the highlights from their 2016 Integrated Annual Report. </p>

    <p>The turn-around time on this project was quite short but the client was very happy with the result.</p>      
    
    <h3>Technologies used</h3>
    <p>HTML5, SASS, JavaScript, jQuery, Grunt</p>
    
    <h3>When</h3>
    <p>2017</p>
    
    <p><a class="button__link" href="http://coca-colahellenic.com/en/investors/2016-integrated-annual-report/" target="_blank">Visit site</a></p>
  </article>

  <p>
    <noscript data-class="project-img" data-src="//d1nd6ebc4fb67p.cloudfront.net/wp-content/uploads/2017/03/19211123/cchbc-oar-top.jpg"><img src="//d1nd6ebc4fb67p.cloudfront.net/wp-content/uploads/2017/03/19211123/cchbc-oar-top.jpg" class="project-img" alt="" /></noscript>
  </p>


  <p>
    <noscript data-class="project-img" data-src="//d1nd6ebc4fb67p.cloudfront.net/wp-content/uploads/2017/03/19211125/cchbc-sustainability.jpg"><img src="//d1nd6ebc4fb67p.cloudfront.net/wp-content/uploads/2017/03/19211125/cchbc-sustainability.jpg" class="project-img" alt="" /></noscript>
  </p>

  <div class="row">
    <div class="col-half">
      <noscript data-class="project-img" data-src="//d1nd6ebc4fb67p.cloudfront.net/wp-content/uploads/2017/03/19211449/cchbc-oar-mobile1.jpg"><img src="//d1nd6ebc4fb67p.cloudfront.net/wp-content/uploads/2017/03/19211449/cchbc-oar-mobile1.jpg" class="project-img" alt="" /></noscript>
    </div>
    <div class="col-half">
      <noscript data-class="project-img" data-src="//d1nd6ebc4fb67p.cloudfront.net/wp-content/uploads/2017/03/19211450/cchbc-oar-mobile2.jpg"><img src="//d1nd6ebc4fb67p.cloudfront.net/wp-content/uploads/2017/03/19211450/cchbc-oar-mobile2.jpg" class="project-img" alt="" /></noscript>
    </div>
  </div>
</div>
{% endblock %}