{% extends "./layouts/layout.njk" %}
{% import './macros/image.njk' as imageMacro %}

{% set pageTitle = "Coca-Cola HBC Integrated Annual Report 2016 - Stacey Fenton" %}

{% block content %}
<div class="content-wrapper">
  <article>
    <h2>Coca-Cola HBC Integrated Annual Report 2016</h2>
    <p>Coca-Cola Hellenic Bottling Company are one of the world’s largest bottlers for The Coca-Cola Company. For this project we created a new template to showcase the highlights from their 2016 Integrated Annual Report. </p>

    <p>The turn-around time on this project was quite short but the client was very happy with the result. We won Gold for Best FTSE 100 Online Report at the 2017 Corporate &amp; Financial Awards.</p>      
    
    <h3>Technologies used</h3>
    <p>HTML5, SASS, JavaScript, jQuery, Grunt</p>
    
    <h3>When</h3>
    <p>2017</p>
    
    <p><a class="button__link" href="http://coca-colahellenic.com/en/investors/2016-integrated-annual-report/" target="_blank" rel="noopener">Visit site</a></p>
  </article>

  <p>
    {{imageMacro.image("https://d1nd6ebc4fb67p.cloudfront.net/wp-content/uploads/2017/03/19211123/cchbc-oar-top.jpg", "")}}
  </p>


  <p>
    {{imageMacro.image("https://d1nd6ebc4fb67p.cloudfront.net/wp-content/uploads/2017/03/19211125/cchbc-sustainability.jpg", "")}}
  </p>

  <div class="row">
    <div class="col-half">
      {{imageMacro.image("https://d1nd6ebc4fb67p.cloudfront.net/wp-content/uploads/2017/03/19211449/cchbc-oar-mobile1.jpg", "")}}
    </div>
    <div class="col-half">
      {{imageMacro.image("https://d1nd6ebc4fb67p.cloudfront.net/wp-content/uploads/2017/03/19211450/cchbc-oar-mobile2.jpg", "")}}
    </div>
  </div>
</div>
{% endblock %}