{% extends "./layouts/layout.njk" %}

{% set pageTitle = "PwC Middle Market year in review - Stacey Fenton" %}

{% block content %}
<div class="content-wrapper">
  <article>
    <h2>PwC Middle Market year in review</h2>
    
    <p>PricewaterhouseCoopers (PwC) is a multinational professional services network headquartered in London.</p>

    <p>In 2015 we produced the Middle Market annual review for PwC, a microsite which is only accessible to people within the PwC Network. The site features case studies, videos and downloadable content.</p>     
    <p>I was the lead front-end developer building the microsite.</p>     
    <h3>Technologies used</h3>
    <p>HTML5, SASS, JavaScript, jQuery, Grunt</p>

    <h3>When</h3>
    <p>2015</p>
  </article>

  <p>
    <noscript data-class="project-img" data-src="//d1nd6ebc4fb67p.cloudfront.net/wp-content/uploads/2016/09/05211302/pwc-desktop.jpg"><img src="//d1nd6ebc4fb67p.cloudfront.net/wp-content/uploads/2016/09/05211302/pwc-desktop.jpg" class="project-img" alt="" /></noscript>
  </p>


  <div class="row">
    <div class="col-half">
      <noscript data-class="project-img" data-src="//d1nd6ebc4fb67p.cloudfront.net/wp-content/uploads/2016/09/05211257/pwc-mob1.png"><img src="//d1nd6ebc4fb67p.cloudfront.net/wp-content/uploads/2016/09/05211257/pwc-mob1.png" class="project-img" alt="" /></noscript>
    </div>
    <div class="col-half">
      <noscript data-class="project-img" data-src="//d1nd6ebc4fb67p.cloudfront.net/wp-content/uploads/2016/09/05211252/pwc-mob2.png"><img src="//d1nd6ebc4fb67p.cloudfront.net/wp-content/uploads/2016/09/05211252/pwc-mob2.png" class="project-img" alt="" /></noscript>
    </div>
  </div>
</div>
{% endblock %}
