<!DOCTYPE html>
<html lang="en" prefix="og: http://ogp.me/ns#">
<head>
  <meta charset="UTF-8">
  <title>{{pageTitle}}</title>
  <meta name="viewport" content="width=device-width" />
  <link rel="stylesheet" href="/assets/css/styles.css">
  <link rel="icon" type="image/png" href="data:image/x-icon;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAACFElEQVRYhcXX3YtOURQG8N+84yvfoTe5EMokhREpNUW4QGpufczF5IK/w5XkD3ClcOnaR3NFYTAmSiSSi5GPUtPQxDQ+L9Z+67xizj7MO+9Tp7P3bu21n7PWPs9euwOLtRG1di4Osyra17AdB9CN1ZiPSXzGezzBAAbxo8xhh/wU9OA0Nmfab8JImVFuBE7gjOaUfcNb8eULsbKCv0oE9uFsoT+Y+rdF6BuYI9LSi/5cAmUpqOEuNqT+ZZxUntu6iMz4/xLowoPUnsR6jJU5rYKy33BdoT0y3YvnECiGemmG/bQTeFlor8CemSbwCg8L/XPydSALnZhbYvMMRwXZBegTqXkktKDlBN6IVBxM9p3YhWP4gqf43koCRBRuYCeWp7FF2I/D+JiI/GwVAUJ2L6bFtmFeGl+CQ4nMY7xrFQEi1EO4gK/YIiSYOAv6hAIOy4xGVQINTOAWLmE2topNWsNesUnv5DiqchxPhY04n94N9OLmTBGQ/AwUSAyLaMwYAaJouVror8XoVBOmW9vvaRanVWUTWlGUFn1O/C+BumplVk/B54SMmrCMwG5c/83x31DXXLpd0Vyy/RE5X7dDbKwXuIb74mwYE2q4RpwNx7EszfmEUxm+K4W3Kz1lGMURGeGnXAk/iItH4wIyFcaFMvbjec7i5OtATVTG3eLfrqexcbwWt6EhGbv+Xwm0DG2/nLadwC/mhGJDka8IDwAAAABJRU5ErkJggg==" />
  <meta name="robots" content="noodp"/>
  <meta name="description" content="{{pageDesc}}"/>
  <link rel="canonical" href="{{canonical}}" />
  <link rel="manifest" href="/manifest.json">

  <meta property="og:locale" content="en_GB" />
  <meta property="og:type" content="website" />
  <meta property="og:site_name" content="Stacey Fenton" />
  <meta property="og:title" content="{{pageTitle}}" />
  <meta property="og:description" content="{{pageDesc}}" />
  <meta property="og:url" content="{{canonical}}" />

  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="@staceyfenton" />
  <meta name="twitter:creator" content="@staceyfenton" />
  <meta name="twitter:title" content="{{pageTitle}}" />
  <meta name="twitter:description" content="{{pageDesc}}" />

  <meta name="google-site-verification" content="sa1oDEDmuFSDxoTWoLOVwNCFIlbb3nVcI1lRQ9vZ0tU" />
</head>
<body class="{{bodyClass}}">
	<header class="site-header">
		<div class="site-header__inner">
			<h1 class="site-header__title"><a class="site-header__link" href="/">Stacey Fenton</a></h1>
  		<a href="" class="site-header__mobile-link"><span>Menu</span></a>
  		<nav class="site-header__nav">
  			<ul class="site-header__nav-list">
  				<li class="site-header__nav-item"><a class="site-header__link" href="/">Home</a></li>
  				<li class="site-header__nav-item"><a class="site-header__link" href="/about-me">About me</a></li>
  				<li class="site-header__nav-item"><a class="site-header__link" href="/work">My work</a></li>
  				<li class="site-header__nav-item"><a class="site-header__link" href="/get-in-touch">Get in touch</a></li>
  			</ul>
  		</nav>
    </div>
	</header>

  <main>
    {% block content %} {% endblock %}
  </main>

  <footer class="site-footer">
    <div class="site-footer__inner">
      <p class="site-footer__copyright">&copy; 2019 Stacey Fenton. All Rights Reserved.</p>

      <div class="site-footer__social">
        <a class="site-footer__social-link" href="https://twitter.com/staceyfenton" target="_blank" rel="noopener" aria-label="Twitter profile">
          <svg class="icon icon-twitter-logo"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/img/social-sprite.svg#icon-twitter-logo"></use></svg>
        </a>
        <a class="site-footer__social-link" href="https://www.linkedin.com/in/staceyfenton" target="_blank" rel="noopener" aria-label="LinkedIn profile">
          <svg class="icon icon-linkedin-logo"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/img/social-sprite.svg#icon-linkedin-logo"></use></svg>
        </a>
        <a class="site-footer__social-link" href="http://codepen.io/staceyfenton/" target="_blank" rel="noopener" aria-label="CodePen profile">
          <svg class="icon icon-codepen"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/img/social-sprite.svg#icon-codepen"></use></svg>
        </a>
        <a class="site-footer__social-link" href="https://github.com/staceyfenton" target="_blank" rel="noopener" aria-label="Github profile">
          <svg class="icon icon-github-logo"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/img/social-sprite.svg#icon-github-logo"></use></svg>
        </a>
      </div>
    </div>
  </footer>
  <script src="/assets/js/main.js" defer></script>
</body>
</html>