<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{pageTitle}}</title>
  <link rel="stylesheet" href="assets/css/styles.css">
</head>
<body>
	<header>
		<div class="header-inner">
			<h1><a href="/">Stacey Fenton</a></h1>
		</div>
		<a href="" class="header-mobile-link"><span>Menu</span></a>
		<nav>
			<ul>
				<li><a href="/">Home</a></li>
				<li><a href="/about-me">About me</a></li>
				<li><a href="/my-work">My work</a></li>
				<li><a href="/get-in-touch">Get in touch</a></li>
			</ul>
		</nav>
	</header>

  <!-- You write code for this content block in another file -->
  {% block content %} {% endblock %}

</body>
</html>